@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: 'Noto Serif JP', serif;
  background-color: #222;
}

.title {
  margin-bottom: 20px;
  color: #123456;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.app {
  background-color: #371D02 ;;
  /* background-color: ; */
  padding: 1.5rem;
  color: #fff;
  width: 500px;
  border-radius: 0.5rem;
  /* box-shadow: 2px 5px 10px 2px #371D02; */
}

.question-section {
  /* color: #654564; */
  color: #fff;
  /* font-size: 1.25rem; */
}

.question-count {
  /* color: #B67B3F; */
  margin-bottom: 5px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 5px 5px;
  background-color: #fff;
  border: 1px solid #CFAC89;
  background-color: #123456 ;
  color: #fff;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

button:hover {
  background-color: #fff;
  color: #123456;
}

@media (max-width: 450px) {
  .app {
    width: 250px;
  }
}